[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=XMoto
Comment=Challenging 2D Motocross Platform Game
Exec=xmoto --fullscreen
StartupNotify=false
Terminal=false
Type=Application
Icon=org.tuxfamily.XMoto
Categories=Game;ActionGame;SportsGame;
Keywords=Moto;Bike;Motor;Motocross;
